In [9]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
pd.set_option('display.width',1000)
pd.set_option('display.max_columns',500)
df=pd.read_excel(r'pandas源码\快递发货单.xlsx',usecols=['客户名称','快递地址'])
#print(df.head())
#print(type(df['快递地址']))
new_df=df['快递地址'].str.split(' ',expand=True) # expand=True表示结果转成DataFrame
#print(new_df)
#print(df)
df['省']=new_df[0]
df['市']=new_df[1]
df['区']=new_df[2]
print(df.head())

  客户名称                                          快递地址      省         市             区
0   李明玉  陕西省 西安市 长安中路888号 西安音乐学院教研中心  陕西省     西安市  长安中路888号
1   张凤香                河北省 唐山市 乐亭县 财富大街990号  河北省     唐山市         乐亭县
2   王红军   上海市 浦东‭新区 快乐路867 快乐城市1111号8808室  上海市  浦东‭新区      快乐路867
3     牛犇                  河北省 唐山市 开发区 喜庆道100号  河北省     唐山市         开发区
4     马明                  台湾省 台北市 开发区 经济路101号  台湾省     台北市         开发区

In [13]:

import pandas as pd
data={
    
    'a':[1,2,3,4,5],
    'b':[(1,2),(2,3),(3,4),(5,6),(7,8)]
}
df=pd.DataFrame(data=data)
print(df)
#df[['b1','b2']]=df['b'].apply(pd.Series)
#print(df)

# join()与apply()
df=df.join(df['b'].apply(pd.Series))
print(df)

   a       b
0  1  (1, 2)
1  2  (2, 3)
2  3  (3, 4)
3  4  (5, 6)
4  5  (7, 8)
   a       b  0  1
0  1  (1, 2)  1  2
1  2  (2, 3)  2  3
2  3  (3, 4)  3  4
3  4  (5, 6)  5  6
4  5  (7, 8)  7  8

In [20]:
#行列转换，将列索引转成行
import pandas as pd
df=pd.read_excel('grade.xlsx')
#print(df.head())
df=df.set_index(['班级','序号'])
#print(df.head())
df=df.stack()
print(df.head(6))

班级  序号
1班   1     姓名    王*亮
            得分       84
            排名       11
      2     姓名     杨**
            得分       82
            排名       17
dtype: object

In [23]:
#行列转换
import pandas as pd
df=pd.read_excel('grade2.xls',sheet_name='英语2')
#print(df.head(6))
df=df.set_index(['班级','序号','Unnamed: 2'])
print(df.unstack())

           Unnamed: 3
Unnamed: 2       姓名 得分 排名
班级 序号
1班  1          王*亮   84   11
     2           杨**   82   17
     3          王*彬   78   37
2班  4          赛*琪   77   51
     5           刘**   76   64
     6          刘*彤   74   89

In [25]:
import pandas as pd 
df=pd.read_excel('grade3.xlsx')
#print(df.head())
print(df.pivot(index='序号',columns='班级',values='得分'))

班级  1班  2班  3班  4班  5班
序号
1      84   77   72   72   70
2      82   76   72   72   68
3      78   74   72   70   68

In [29]:
# 将DataFrame转换成字典
import pandas as pd
df=pd.read_excel('电脑配件销售记录.xlsx')
#print(df.head())
df1=df.groupby('产品名称')['数量'].sum() #根据产品名称分组，统计数量

mydict=df1.to_dict() # 将DataFrame转成了字典
for item in mydict:
    print(item,':',mydict[item])

DVD光驱 : 150
SD存储卡 : 44
手写板 : 57
无线网卡 : 40
蓝牙适配器 : 322
键盘 : 140
麦克风 : 178
鼠标 : 166

In [38]:
# 将DataFrame数据转成列表
import pandas as pd
df=pd.read_excel('电脑配件销售记录.xlsx')
#print(df.head())
df1=df[['产品名称']]
lst=df1['产品名称'].values.tolist()
#lst=df1['产品名称'].tolist()
print(lst)
print(type(lst))

['无线网卡', '无线网卡', '鼠标', '鼠标', '鼠标', '鼠标', '鼠标', '手写板', '手写板', '麦克风', '麦克风', '麦克风', '麦克风', '麦克风', '蓝牙适配器', '蓝牙适配器', '蓝牙适配器', '蓝牙适配器', '蓝牙适配器', '蓝牙适配器', '键盘', '键盘', 'SD存储卡', 'SD存储卡', 'SD存储卡', 'DVD光驱', 'DVD光驱', 'DVD光驱', 'DVD光驱']
<class 'list'>

In [44]:
# 将DataFrame转成元组
import pandas as pd
df=pd.read_excel('电脑配件销售记录.xlsx')
#print(df.head())
df1=df[['产品名称','销售员','数量']]
#print(df1)
t=[tuple (x) for x in df1.values]
for item in t:
    print(item)
#print(df1.values)

('无线网卡', '王丽', 10)
('无线网卡', '李桂林', 30)
('鼠标', '李欢', 6)
('鼠标', '李欢', 15)
('鼠标', '李桂林', 16)
('鼠标', '王双', 52)
('鼠标', '李桂林', 77)
('手写板', '华国华', 14)
('手写板', '王丽', 43)
('麦克风', '王丽', 4)
('麦克风', '王丽', 10)
('麦克风', '华国华', 47)
('麦克风', '李桂林', 55)
('麦克风', '李欢', 62)
('蓝牙适配器', '李桂林', 18)
('蓝牙适配器', '李桂林', 39)
('蓝牙适配器', '王丽', 51)
('蓝牙适配器', '李桂林', 58)
('蓝牙适配器', '李桂林', 61)
('蓝牙适配器', '李欢', 95)
('键盘', '华国华', 20)
('键盘', '王丽', 120)
('SD存储卡', '李欢', 9)
('SD存储卡', '李桂林', 15)
('SD存储卡', '李桂林', 20)
('DVD光驱', '王丽', 30)
('DVD光驱', '王丽', 32)
('DVD光驱', '华国华', 40)
('DVD光驱', '华国华', 48)

In [48]:
import pandas as pd
df=pd.read_excel('电脑配件销售记录.xlsx')
print(df.head())
df.to_html('电脑配件销售记录.html',header=True,index=False)

   产品名称  销售员  数量  标准单价  成交金额
0  无线网卡    王丽    10       178      1780
1  无线网卡  李桂林    30       178      5340
2      鼠标    李欢     6       299      1794
3      鼠标    李欢    15       299      4485
4      鼠标  李桂林    16       299      4784